body{
	margin-top: 0;
	padding: 0;
	height: 100vh;
	max-height: 100vh;
	font-family: 'Montserrat', sans-serif;
}
/* HEADER NO ME DIGAAAS */
header{
	height: 600px;
	overflow: hidden;
}
.header{
	max-width: 100vw;
	height: 450px;
	background: #272639; 
	position: relative;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

}
.header::before{
	content: '';
	position: absolute;
	bottom: -15%;
	z-index: -1;
	width: 110%;
	height: 200px;
	border-radius: 50%; 
	background: #272639; 
}
.header .node-img{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header .node-img>div{
	width: 300px;
	padding: 0 30px;
	background: white;
	border-radius: 30px;
}
.header h2{
	width: 90%;
	font-size: 40px;
	font-weight: 900;
	color: #EAEAEA;
}
/* Parte de ventajas y lod e la izquirda */
.advantage{
	width: 80%;
	padding: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #1A1A26;
}
.advantage h2{
	color: #F0F0F0;
	margin-top: 30px;
	font-weight: 900;
	font-size: 50px;
}
.advantage p{
	font-weight: 300;
	color: white;
	font-size: 30px;
	margin: 20px 50px;
}

/*-----*/
.guide{
	margin: 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1A1A26;
}
.guide p{
	width: 70%;
	padding: 50px 0;
	color: white;
	font-weight: 500;
	font-size: 30px;
	text-align: center;
}
/*--------------------*/
.proyect p{
	font-size: 30px;
}
.proyect p span{
	font-weight: 600;
}
/*----------------------------------*/
section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
section>div{
	width: 70%;
	margin: 30px;
}
section h2{
	font-size: 35px;
}
section p{
	width: 80%;
	font-size: 21px;
}
section a{
	color: #A61A88;
	font-weight: 600;
}
section a:hover{
	color: #E014B4;
}
/*--------------*/
.end{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.end h2{
	font-weight: 800;
}
.end>div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.end>div p{
	padding: 30px;
	box-shadow: 0 0 20px #B4B4B4;
	text-align: center;
}

/*MEDIA QUERYYYS*/

@media (max-width: 930px) {
	.header h2{
		font-size: 1.5rem;
	}
	.advantage{
		width: 100%;
	}
	.end>div p{
		width: 100%;
	}
}
@media (max-width: 767px) {
	.server-down{
		display: none;
	}
	.guide p{
		width: 90%;
	}
	.proyect p{
		text-align: justify;
	}
	.bird{
		width: 80%;
	}
	section p{
		width: 100%;
	}
	.ballon{
		width: 80%;
	}
	
}
@media (max-width: 650px){
	.header{
		height: 65vh;
	}
	.header::before{
		bottom:-15%;
	}
	.header .node-img>div{
		width: 50%;
	}
}
@media (max-width: 500px){
	.header .node-img>div{
		width: 70%;
	}
}
@media (max-width: 420px){
	.aprendelo-ya{
		font-size: 40px;
	}
}