<!DOCTYPE html>
<html>
<head>
	<title>Recursos-Ilustraciones</title>
	<%- include('partials/head.ejs') %>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/ilustraciones-1.css?24">
</head>
<body>
	<%- include('partials/nav.ejs') %>
	<header class="relative" style="margin-top: 10vh">

		<img src="/Images/lost_online.svg" width="19%;">
		<img src="/Images/refreshing-everage.svg" width="11%">
		<img src="/Images/StarML.svg" width="8%">
		<img src="/Images/BOO.svg" width="5%">
		<img src="/Images/Tater-tots.svg" width="6%">
		<img src="/Images/Asset 15.svg" width="8%">
		<img src="/Images/Asset 16.svg" width="8%">
		<img src="/Images/Asset 17.svg" width="8%">
		<h2 class="display-1">Ilustraciones</h2>
		<h2 class="display-1">Ilustraciones</h2>
	</header>
	<div class="introduction">
		<div class="img-ilustration">
			<img src="/Images/welcome_cats.svg" width="90%">
		</div>
		<p>Las ilustraciones son parte <span>importante</span> de una pagina web cuando se quiere decorar o rellenar espacios vacios que no nos gustan, o para <span>mejorar</span> algun diseño, y ahi es cuando llegan a salvarnos, gracias a <span>millones</span> de paginas de ilustraciones y diseñadores que las venden. Lo que les traigo son algunas paginas donde poder sacar ilustraciones que a mi me han <span>encantado</span>, nada mas mire a los gatitos <span>SON GENIALEEES...</span></p>
	</div>
	<div class="introduction2">
		<p>En este articulo les traigo unas de las paginas que mas me gustan por la cantidad y calidad de ilustraciones que cada una contiene, son increibles, para distintos tipos de ilustracion, colores, temas, hay ilustraciones para casi cualquier cosa que quieran, puede escoger en su mayoria si quiere la ilustracion svg o como imagen en formato png</p>
	</div>
	<div class="w-100 p-5">
		<div class="row" style="margin-top: 100px;">
			<div class="col-md-5 image-ilustration">
				<img src="/Images/chat_bot.svg" width="100%">
			</div>
			<div class="col-md-7 text-ilustration">
				<h2>1- unDraw</h2>
				<p>Este es una de las paginas de ilustraciones mas increibles, no puedes entrar sin enamorarte al ver la infinidad de ilustraciones que parecen un mar interminable de increibles ilustraciones, puedes seleccionar los colores de ciertas partes de cada ilustracion, de manera de que no pierda el contraste y se vea aun mas genial agregandole su color favorito</p>
				<br>
				<p class="text-center"><a target="_blank" href="https://undraw.co/illustrations" target="_blank">https://undraw.co/illustrations</a></p>
			</div>
		</div>
		<div class="row" style="margin-top: 100px;">
			<div class="col-md-7 text-ilustration">
				<h2>2- Manypixels</h2>
				<p>Sus ilustraciones son casi interminables, hay demasiadas y todas de muy buena calidad y super recomendadas, me fue dificil escoger la ilustracion que la representaria, por los maravillosos diseños, en definitiva puedes usar cualquiera de sus imagenes en casi cualquier sitio, sin importar el tema, y como muchas de las otras paginas puede escoger el color principal de la ilustracion que mas le gusta</p>
				<br>
				<p class="text-center"><a target="_blank" href="https://www.manypixels.co/">https://www.manypixels.co/</a></p>
			</div>
			<div class="col-md-5 image-ilustration">
				<img src="/Images/campaign_launch.svg" width="100%">
			</div>
		</div>
		<div class="row" style="margin-top: 100px;">
			<div class="col-md-5 image-ilustration relative cons">
				<img src="/Images/blob-guy.svg" width="70%">
				<img src="/Images/party-hat.svg" width="20%">
				<img src="/Images/donut.svg" width="20%">
			</div>
			<div class="col-md-7 text-ilustration">
				<h2>3- 365Cons</h2>
				<p>Hay una cantidad exacta de la cantidad de ilustraciones de iconos que existen en esta pagina, pero no por eso son pocos, como su nombre lo dice hay 365 iconos/ilustraciones que puedes usar perfectamente en cualquier parte, pagina, diseños, imagenes, etc... Son increibles y cada uno relata algo de la vida de la ilustradora</p>
				<br>
				<p class="text-center"><a target="_blank" href="https://www.365cons.com/">https://www.365cons.com/</a></p>
			</div>
			
		</div>
		<div class="row" style="margin-top: 100px;">
			<div class="col-md-6 text-ilustration">
				<h2>4- LukasZadam</h2>
				<p>Es la pagina de un ilustrador y desarrollador web con una creatividad interminable que hace valer la pena echarle un vistazo a todos sus diseños, si con solo echar un vistazo a las ilustraciones gratis entonces las premium te dejaran sin querer dejar de verlos</p>
				<br>
				<p class="text-center"><a target="_blank" href="https://lukaszadam.com/">https://lukaszadam.com/</a></p>

			</div>
			<div class="col-md-6 image-ilustration text-center">
				<img src="/Images/donut-guy.svg" width="55%">
			</div>
		</div>
		<div class="row" style="margin-top: 100px;">
			<div class="col-md-6 image-ilustration">
				<img src="/Images/example-3.svg" width="100%">
			</div>
			<div class="col-md-6 text-ilustration">
				<h2>5- IRA Design</h2>
				<p>IRA Design es una pagina dedicada al desarollo de ilustraciones de objetos, personas, fondos, donde puedes conseguir las tres juntas, ademas de que pueden escoger el color de las ilustraciones que quieran y ajustarlos a sus gustos. Perfectamente diseñados para poderlos usar en cualquier pagina, imagen o para lo que se les ocurra</p>
				<br>
				<p class="text-center"><a target="_blank" href="https://iradesign.io/">https://iradesign.io/</a></p>
			</div>
		</div>
	</div>
	<div class="introduction2">
		<p>Todas y cada una de las paginas son mis las que mas me gustan de las que conozco, las ilustraciones tan geniales pueden enamorar a cualquiera que busque alguna... Como bonus para los que lean hasta el final les dare algunas de las paginas que no añadi por sus limitaciones (Que realmente no son muchas, pero las que recomende no se necesita ningun tipo de limitacion asi que bueno) la limitacion no es mas que indicar de quien es la ilustracion, e incluso le dan un codigo en html, o puede pagar para poder usar las ilustraciones sin limitaciones, estas paginas son <a target="_blank" href="https://icons8.com/illustrations">https://icons8.com/illustrations</a> y <a target="_blank" href="https://www.flaticon.com">https://www.flaticon.com</a></p>
	</div>
	<footer><b>&copy Todos los derechos reservados por Gabriel Valero</b></footer>
</body>
</html>