<nav class="navbar navbar-expand-sm" >
	<div class="container">
		<a href="#" class="navbar-brand text-dark">GaboBlog</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <div class="menu">
                <div class="menu_bar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
		</button>
		
		<div class="collapse navbar-collapse" id="nav-collapse">
			<div class="navbar-nav ml-auto">
				<div class="nav-item active">
					<a href="#" class="nav-link">INICIO</a>
				</div>
				<div class="nav-item active">
					<a href="#" class="nav-link">CATEGORIAS</a>
				</div>
				<div class="nav-item active">
					<a href="#" class="nav-link">CONTACTO</a>
				</div>
			</div>
		</div>
	</div>
</nav>