<!DOCTYPE html>
<html>
<head>
	<title>Recursos-Ilustraciones</title>
	<%- include('../partials/head.ejs') %>
	
	<link rel="stylesheet" type="text/css" href="/css/Posts/ilustraciones-1.css?24">
</head>
<body>
	<%- include('../partials/nav.ejs') %>
	<header class="relative" style="margin-top: 10vh">

		<img src="/Images/lost_online.svg" width="19%;">
		<img src="/Images/refreshing-everage.svg" width="11%">
		<img src="/Images/StarML.svg" width="8%">
		<img src="/Images/BOO.svg" width="5%">
		<img src="/Images/Tater-tots.svg" width="6%">
		<img src="/Images/Asset 15.svg" width="8%">
		<img src="/Images/Asset 16.svg" width="8%">
		<img src="/Images/Asset 17.svg" width="8%">
		<h2 class="display-1">Ilustraciones</h2>
	</header>
	<div class="introduction">
		<div class="img-ilustration">
			<img src="/Images/welcome_cats.svg" width="90%">
		</div>
		<p>Las ilustraciones son parte <span>importante</span> de una página web cuando se quiere decorar o rellenar espacios vacíos que no nos gustan o para <span>mejorar</span> algún diseño, y ahí es cuando llegan a salvarnos gracias a <span>millones</span> de páginas de ilustraciones y diseñadores que las venden. Lo que les traigo son algunas páginas donde pueden obtener ilustraciones que a mí me han <span>encantado</span>, nada mas miren a los gatitos <span>SON GENIALEEES...</span></p>
	</div>
	<div class="introduction2">
		<p>En este artículo les traigo unas de las páginas que más me gustan por la cantidad y calidad de ilustraciones que cada una contiene, son increíbles para distintos tipos de ilustraciones, colores y temas, hay ilustraciones para casi cualquier cosa que quieran y pueden escoger en su mayoría si quieren la ilustracion svg o como imagen en formato png</p>
	</div>
	<div class="w-100 p-5">
		<div class="row" style="margin-top: 100px;">
			<div class="col-md-5 image-ilustration">
				<img src="/Images/chat_bot.svg" width="100%">
			</div>
			<div class="col-md-7 text-ilustration">
				<h2>1- unDraw</h2>
				<p>Este es una de las páginas de ilustraciones mas increíbles que conozco, no pueden entrar sin enamorarse al ver la infinidad de ilustraciones que parecen un mar interminable de increíbles ilustraciones, pueden seleccionar los colores de ciertas partes de cada ilustración, de manera de que no pierda el contraste y se vea aún mas genial agregándoles sus colores favoritos</p>
				<br>
				<p class="text-center"><a target="_blank" href="https://undraw.co/illustrations" target="_blank">https://undraw.co/illustrations</a></p>
			</div>
		</div>
		<div class="row" style="margin-top: 100px;">
			<div class="col-md-7 text-ilustration">
				<h2>2- Manypixels</h2>
				<p>Esta en definitiva será una de las que más les gustará, hay una infinidad de ilustraciones y todas pero TODAS son muy buenas, me fue difícil escoger la ilustración que la representaría, por los maravillosos diseños, en definitiva pueden usar cualquiera de sus imágenes en casi cualquier sitio sin importar el tema, y como muchas de las otras páginas pueden escoger el color principal de la ilustración que más les guste</p>
				<br>
				<p class="text-center"><a target="_blank" href="https://www.manypixels.co/">https://www.manypixels.co/</a></p>
			</div>
			<div class="col-md-5 image-ilustration">
				<img src="/Images/campaign_launch.svg" width="100%">
			</div>
		</div>
		<div class="row" style="margin-top: 100px;">
			<div class="col-md-5 image-ilustration relative cons">
				<img src="/Images/ilustration1.png" width="100%">
			</div>
			<div class="col-md-7 text-ilustration">
				<h2>3- 365Cons</h2>
				<p>365Cons es una página creada para que la creadora pudiera practicar diferentes estilos de dibujo y haciendo notar su progreso diario durante un año, hay 365 ilustraciones que puedes usar perfectamente en cualquier parte como página, diseños, imágenes, etc... Son increíbles y cada uno relata algo de la vida de la ilustradora</p>
				<br>
				<p class="text-center"><a target="_blank" href="https://www.365cons.com/">https://www.365cons.com/</a></p>
			</div>
			
		</div>
		<div class="row" style="margin-top: 100px;">
			<div class="col-md-6 text-ilustration">
				<h2>4- Lukaszadam</h2>
				<p>Es la página de un ilustrador y desarrollador web con una creatividad interminable que los dejará locos al echarle un vistazo a todos sus diseños, si con solo ver las ilustraciones gratis quedan impresionados entonces las premium los dejaran sin querer dejar de verlas... SON INCREIBLEEES</p>
				<br>
				<p class="text-center"><a target="_blank" href="https://lukaszadam.com/">https://lukaszadam.com/</a></p>

			</div>
			<div class="col-md-6 image-ilustration text-center">
				<img src="/Images/donut-guy.svg" width="55%">
			</div>
		</div>
		<div class="row" style="margin-top: 100px;">
			<div class="col-md-6 image-ilustration">
				<img src="/Images/example-3.svg" width="100%">
			</div>
			<div class="col-md-6 text-ilustration">
				<h2>5- IRA Design</h2>
				<p>IRA Design es una página dedicada al desarollo de ilustraciones de objetos, personas y fondos, ademas de que pueden escoger el color de las ilustraciones que quieran y ajustarlos a sus gustos. Perfectamente diseñados para poder usarlos en lo que se les ocurra</p>
				<br>
				<p class="text-center"><a target="_blank" href="https://iradesign.io/">https://iradesign.io/</a></p>
			</div>
		</div>
	</div>
	<div class="introduction2">
		<p>Todas y cada una de las páginas son las que mas me gustan de las que conozco, las ilustraciones tan geniales pueden enamorar a cualquiera que busque alguna... Como bonus para los que lean hasta el final les daré algunas de las páginas que no añadí por sus limitaciones (Que realmente no son muchas, pero las que recomendé no tienen ningún tipo de limitación) la limitación no es mas que indicar el dueño de la ilustración e incluso les dan un codigo html, o puede pagar para poder usar las ilustraciones sin limitaciones, estas páginas son <a target="_blank" href="https://icons8.com/illustrations">https://icons8.com/illustrations</a> y <a target="_blank" href="https://www.flaticon.com">https://www.flaticon.com</a>... DISFRUTENLAS AL MAXIMO</p>
	</div>
	
</body>
</html>