<!DOCTYPE html>
<html>
<head>
	<title>Aprende Node</title>
	<%- include('../partials/head.ejs')%>
	<link rel="stylesheet" type="text/css" href="/css/Posts/Node.css?24">
</head>
<body>
	<%- include('../partials/nav.ejs')%>
	<div style="height: 10vh;"></div>
	<header class="text-center">
		<div class="header">
			<div class="node-img">
				<div>
					<img src="/Images/NodeJS.png?4" width="100%">
				</div>
			</div>
			<h2 class="text-center">Es un motor para interpretar Javascipt mas rápido en tiempo de ejecución, es naturalmente asíncrono y es usado mayormente en el backend</h2>
		</div>
	</header>
	<div class="d-flex justify-content-around align-middle flex-md-row-reverse container">
		<div class="col-md-7 d-flex justify-content-center align-middle">
			<div class="advantage">
				<h2 class="h1">Ventajas</h2>
				<p>- Si eres de los que conoce javascript no tendrás problemas con la síntaxis ya que es la mima</p>
				<p>- Podemos mejorar nuestro código usando módulos de que nos facilita Node Package Manager (NPM).</p>
				<p>- La creacion de REST APIs se vuelve demasiado fácil usando frameworks como express</p>
				<p>- No esperes más y empieza a aprenderlo como te dirá mas adelante</p>
			</div>
		</div>
		<div class="col-md-5 d-flex justify-content-around align-middle flex-column">
			<img src="/Images/Server_Down.svg" width="80%">
			<div class="text-center">
				<p class="display-4 text-center font-weight-bold">APRENDELO YA!!</p>
				<svg width="10em" height="10em" viewBox="0 0 16 16" class="bi bi-file-arrow-down-fill" fill="#A61A88" xmlns="http://www.w3.org/2000/svg">
				  	<path fill-rule="evenodd" d="M12 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
				</svg>
			</div>
		</div>
	</div>
	<div class="guide">
		<p>
			En este blog no solo te guiaré para que  aprendas a usar node... no no... aprenderás frameworks y módulos que te serán muy útiles tales como Express, Mongoose, Dotenv, Cross-env, Nodemon, Express-session, Motores de Plantillas como EJS y HANDLEBARS, etc...
		</p>
	</div>
	<div class="text-center proyect container">
		<h2 class="display-4 font-weight-bold">MINI PROYECTO</h2>
		<p class="container">Para que pruebes lo que aprendiste de node de la forma en la que yo lo hice será hacer una aplicacion <span>CRUD (Crear, leer, actualizar y borrar)</span> para una econmerce, es decir, que los datos serán de productos que estas vendiendo (si realmente lo quieres usar para vender algo pues muy bien), los datos de cada producto serán nombre, precio, descripción y lo que se les ocurra adicionalmente... <br><br><span>Suerte coders</span>
		</p>
		<img src="/Images/pajaro.svg?24" width="35%">
	</div>
	<section class="container" style="margin-top: 100px;">
		<div class="basic">
			<h2>&nbsp; &nbsp;Basico de Node y Express</h2>
			<p>Existen DEMASIADOS cursos y videos que les enseñan a usar node, y todos están bastante bien, para aprender lo básico de node puede ver el video de <a target="_blank"href="https://www.youtube.com/watch?v=BhvLIzVL8_o&t=97s">Node Basico</a> de fazt (fazt code) que es uno de los canales que mas les servirá para aprender diversas tecnologías, explica muy bien y tiene bastantes videos donde usa node... en sí es casi el canal perfecto. <br><br>

			Luego de aprender las cosas básicas de node es hora de aprender Express, el framework mas usado de node, quizas ya lo aprendieron despues de ver el video anterior ya que... quizas les aparezció en recomendado... <a target="_blank"href="https://www.youtube.com/watch?v=794Q71KVw1k">Express Basico</a> <br><br>

			Sabiendo lo escencial de node y express llega la hora de subir el nivel, te recomiendo practicar un poco lo que ya debiste de haber aprendido, hacer una pequeña pagina que diga hola mundo en un servidor usando las rutas o break-points y estas mismas definirlas en un archivo aparte y luego conectar los dos archivos... si se les hace un poco complicado o quieren una mejor imagen de node les recomiendo ver este video <a target="_blank"href="https://www.youtube.com/watch?v=sh-NanMOh1Q">Tu Primera Pagina con Node</a> para entender todo mejor.
			</p>
		</div>
		<div class="inter">
			<h2>&nbsp; &nbsp;Tu Primera Aplicación Web</h2>
			<p>Conociendo lo básico de node y express puedes crear tus primeras aplicaciones, hay que tener en cuenta que se debe de tener conocimiento en base de datos basico y en algun gestor de base de datos (Mysql o Mongodb). Un curso completo de node que les será de muchísima ayuda ya habiendo visto lo básico (Que de todos modos lo básico también está en el curso) es el de <a target="_blank"href="https://codigofacilito.com/cursos/nodejs">Código Facilito</a> ese curso les será súper útil para aprender a full NODE.js, para practicar y de más les recomiendo ver los videos siguientes ya son para crear una aplicación web, todos les servirán para practicar y entender mejor Node, en las aplicaciones verás conceptos como <a target="_blank"href="https://www.youtube.com/watch?v=bK3AJfs7qNY&t=149s">REST API</a> y CRUD(create, read, update, delete)... Antes de ver los siguientes videos recomiendo ver este <a href="https://www.youtube.com/watch?v=YiBDvtEP88M">https://www.youtube.com/watch?v=YiBDvtEP88M</a> para entender mejor lo siguiente... o ver el curso de <a href="https://codigofacilito.com/cursos/nodejs">Codigo Facilito</a>.
			<br><br>
			<a target="_blank"href="https://www.youtube.com/watch?v=Fs1G1BcP4BI&list=PLo5lAe9kQrwq7n_REwpZdfggPCBW2ggnh">Javascript FullStack</a> Esta lista de reproduccion parecera un poco larga pero es sumamente interesante, no solo les enseñará node sino el funcionamiento en este tipo de aplicaciones, será de ayuda para aprender o practicar Fetch Api, Async/Await, Webpack y Bootstrap (Si no conoces alguno de los dos no hay de que preocuparse, solo obvias esa parte o aprendes), Express, Mongodb, manejar variables de entorno con dotenv y finalmente aprenderas a subirlo al host Heroku.
			<br><br>
			<a target="_blank"href="https://www.youtube.com/watch?v=GVfAPWLkk0M&list=PLo5lAe9kQrwqUEXK7oQbzv63KsdODzuAy">Nodejs & Mongodb CRUD, Aplicación Web Completa</a> esta lista de reproduccion es un poco parecida a la anterior pero con cosas muy interesantes como el poder encriptar las contraseñas o pasar mensajes de una pagina a otra. 
			<br><br>
			<a target="_blank"href="https://www.youtube.com/watch?v=-bI0diefasA">Nodejs y Mongodb Aplicación completa</a> durante este video aprenderas no solo a crear una aplicacion CRUD sino que podras crear una cuenta en tu app, iniciar sesion y poder mantenerla activada, poder hacer peticiones delete, put, etc... Les sera de muchisima ayuda y los conocimientos que necesitas son parecidos al del anterior, lo diferente seran el uso de algunos modulos extra que necesitaran tarde o temprano como mongoose que ayuda para manejar los datos de mongodb.
			
			</p>
		</div>
		<div class="end">
			<h2>FELICITACIONEEES!!!</h2>
			<img src="/Images/gift-birthday.svg?24" width="50%">
			<p class="text-center mt-5">Están a un paso mas adelante de convertirse en un desarrollador Javascript FullStack, espero que les haya gustado y servido este POST y que puedan mejorar aun mucho mas...</p>
			<br><br>
			<div>
				<p>¿Hablando de mejorar, que les parece subir un nivel y poder crear una red social con estos conocimientos? si te interesa ve esto <a href="https://www.youtube.com/watch?v=TqC3e8nBycg">https://www.youtube.com/watch?v=TqC3e8nBycg</a> seras GIGANTE si puedes hacerlo, te sirve un monton como portafolio, dandole tu estilo y de mas</p>
			</div>
		</div>
	</section>
</body>
</html>